h3
{
font-size: 25px  !important;
}
.btn-info:hover
{
background-color: rgb(2, 255, 36);
}
.btn-success:hover
{
background-color: rgb(2, 175, 255);
}
canvas{
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes example {
    from {box-shadow:1px 1px 38px rgb(255, 0, 212)}
    to {box-shadow:1px 1px 38px rgb(47, 248, 255)}
}